Source: libhdb++
Priority: optional
Maintainer: Stuart James <stuart.james@esrf.fr>
Build-Depends: libtango-dev (=9.2.5a+dfsg1-2),  
               libomnithread3-dev, 
               libomniorb4-dev, 
               dh-exec, 
               debhelper (>= 9.0.0), 
               cmake (>= 3.0.0), 
               make
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/tango-controls/libhdbpp

Package: libhdb++6-dev
Priority: optional
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libhdb++6 (= ${binary:Version}), ${misc:Depends}
Description: Tango Controls event archive interface. Development files.
 Part of the Tango Controls database archive system. This library 
 is an abstraction for the actual driver libraries, and dynamically loads the 
 relevant library based on its configuration parameters.

Package: libhdb++6
Priority: optional
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: libomniorb4-1, libomnithread3c2, ${shlibs:Depends}, ${misc:Depends}
Description: Tango Controls event archive interface. Runtime files.
 Part of the Tango Controls database archive system. This library 
 is an abstraction for the actual driver libraries, and dynamically loads the 
 relevant library based on its configuration parameters.